
.list-group-item > textarea, .list-group-item > input {
	width: 48%;
	margin: 10px;
	margin-top: 0px;
	vertical-align: top;
	display: inline-block;
}

h3 {
	text-align: center;
}

h4 {
	margin-left: 50px;
}

ul {
	list-style-type: none;
}

ul.phrases li {
	margin-left: 10px;
}

ul.personas li {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

ul.articles li {
	margin: 5px; 
	margin-left: 10px;
	padding: 5px;
	border-radius: 5px;
}

