
.list-group-item > textarea, .list-group-item > input {
	width: 48%;
	margin: 10px;
	margin-top: 0px;
	vertical-align: top;
	display: inline-block;
}

h3 {
	text-align: center;
}

ul {
	list-style-type: none;	
}